<extend name="tpl/center" />
<block name="main">
	<style>
		a{
			color: #000000;
		}
		.sui-table th, .sui-table td {
		    padding: 6px 8px;
		    line-height: 18px;
		    text-align: left;
		    vertical-align: middle;
		    border-top: 1px solid #e6e6e6;
		    font-size: 14px;
		    color: #333333;
		}
	</style>
	<body class="ms-body" style="background:#FFF;">
		<div id="ms-center" class="personal-member">
			<div class="cont">
				<div class="cont-main">
					<div class="main-wrap mt15" style="background: #FFF;">
						<h3>
	                        <strong style=" font-size: 14px;">收货地址</strong>
	                    </h3>
						<div class="user-profile clearfix" style="margin-left: 0px;width: 100%;border: 0px;">
							<div class="user-profile-wrap" style="width: 100%;height: 500px;">
								<p style="margin-left: 70px;font-size: 14px;">
									<span style="color:#F88600;font-size: 14px;">新增收货地址</span>
								</p>
								<form action="__MODULE__/Addrmanage/add" method="post">
									<div style="margin-left: 70px;margin-top: 30px;height: 30px;">
										<span style="color: #F2873B;">*&nbsp;</span><span class="titles">所在地区:</span>
										<select style="padding:5px;margin-left: 14px;" id="province" name="province"> 
											<option selected="" value="0">请选择省份</option>
											<foreach name="province" item="val1">
												<option value="{$val1.code}">{$val1.name}</option>
											</foreach>
										</select> <label>省</label>
										<select style="height: 30px;" id="city" name="city"> 
											<option selected="" value="0">请选择城市</option>
										</select> <label>市</label>
										<select style="height: 30px;" id="area" name="area"> 
											<option selected="" value="0">请选择区</option>
										</select> <label>区</label>
									</div>
									<div style="margin-left: 70px;margin-top: 50px;">
										<span style="color: #F2873B;">*&nbsp;</span><span class="titles">详细地址:</span>
									</div>
									<div style="margin-left: 150px;margin-top:-40px;">
										<textarea style="width:500px;height: 90px;padding: 5px;" placeholder="建议您如实填写详细收货地址，例如街道 名称，门牌号码，楼层和房间号等信息" name="addr"></textarea>
									</div>
									
									<div style="margin-left: 80px;margin-top: 20px;">
										<span class="titles">邮政编号:</span>
										<input type="text" name="postcode" placeholder="如您不清楚地区邮递号，请填写000000" style="padding: 5px;width: 300px;margin-left: 14px;" />
									</div>
									
									<div style="margin-left: 55px;margin-top: 30px;">
										<span style="color: #F2873B;">*</span>
										<span class="titles">&nbsp;收货人姓名:</span> 
										<input type="text" placeholder="长度不超过25个字符" style="padding: 5px;width: 300px;margin-left: 14px;" name="rname"/>
									</div>
									<div style="margin-left: 80px;margin-top: 30px;">
										<span class="titles">手机号码:</span>
										<input type="text" placeholder="请填写手机号码" style="padding: 5px;width: 200px;margin-left: 14px;" name="mobile"/>
									</div>
									<button style="margin-left:150px;margin-top:10px;background-color:#F37B1D ;color: #fff;width: 100px;height: 30px;border: 0px;border-radius: 5px;">确定</button>
								</form>
							</div>
						</div>
					</div>
				</div>
							
				<div style="margin-top: 30px;width: 1068px; margin: 15px 0 30px 170px; background: #FFF;" >
					<dl style="color: #F88600;font-size: 16px;margin-top: 69px;">您已添加<label id="had">{$had}</label>个地址，你还可以添加<label id="residue">{$residue}</label>个地址</dl>
					
					<table class="sui-table table-bordered-simple" style="margin-top: 20px;" >
					  	<thead>
					   		<tr>
							    <th>收货人</th>
							    <th>所在地区</th>
							    <th>收货地址</th>
							    <th>邮政编码</th>
							    <th>手机号码</th>
							    <th>操作</th>
							    <th></th>
					    	</tr>
					 	</thead>
					  	<tbody>
					  		<eq name="flag" value="empty">
					  			<tr>
					  				<td colspan="7" style="text-align: center !important;">
										<h3>Woops ..收货地址空空如也 , 赶快添加一个然后开始购物吧</h3>
				  					</td>
					  			</tr>
					  		</eq>
							<eq name="flag" value="have">
						  		<foreach name="addr" item="value">
								    <tr hid="{$value.id}">
								      	<td>{$value.rname}</td>
								      	<td>{$value.province}&nbsp;{$value.city}&nbsp;{$value.area}</td>
								      	<td>{$value.addr}</td>
								      	<td>{$value.postcode}</td>
								      	<td>{$value.mobile}</td>
								      	<td style="color: #007AFF;cursor: pointer;"><a did="{$value.id}">删除</a></td>
								      	<td >
								      		<eq name="value.defa" value="0">
								      			<span style="padding: 2px;font-size: 10px;color: #EC5937;border-radius:5px;background-color: #fad5d0;border: 1px #C85E0B solid; cursor: pointer;" sid="{$value.id}">设为默认</span>
							      			</eq>
							      			<eq name="value.defa" value="1">
								      			<span style="padding: 2px;font-size: 10px;color: #000; cursor: default;">当前默认</span>
							      			</eq>
						      			</td>
								    </tr>
							    </foreach>
							</eq>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="ng-footer"></div>
	</body>
	<style type="text/css">
		.sui-table td 
		{
			font-size: 14px;
		}
		.sui-table td 
		{
			font-size: 12px;
		}
		.ng-footer {
			height: 130px;
			margin-top: 0;
		}
		
		.ng-s-footer {
			height: 130px;
			background: none;
			text-align: center;
		}
		
		.ng-s-footer p.ng-url-list {
			height: 25px;
			line-height: 25px;
		}
		
		.ng-s-footer p.ng-url-list a {
			color: #666666;
		}
		
		.ng-s-footer p.ng-url-list a:hover {
			color: #f60;
		}
		
		.ng-s-footer .ng-authentication {
			float: none;
			margin: 0 auto;
			height: 25px;
			width: 990px;
			margin-top: 5px;
		}
		
		.ng-s-footer p.ng-copyright {
			float: none;
			width: 100%;
		}
		
		.root1200 .ng-s-footer p.ng-copyright {
			width: 100%;
		}
	</style>

	<script>
		$("#province").change(function(){
			var obj = null;
			var str = "<option value='0' selected>请选择城市</option>";
			var provinceCode = $(this).val();
			if(provinceCode != 0){
				$.ajax({
					url: '__MODULE__/Addrmanage/showCity',
					type: 'POST',
					dataType: 'json',
					data: {code: provinceCode},
					dataFilter: function(data) {
						return data;
					},
					success: function(data) {
						obj = eval(data);
						for(var i = 0;i < obj.length;i++) {
							str += "<option value='"+obj[i].code+"'>"+obj[i].name+"</option>";
						}
						$("#city").html(str);
					}
				});
			}else {
				$("#city").empty();
				$("#city").html(str);
			}
		});

		$("#city").change(function(){
			var obj = null;
			var str = "<option value='0' selected>请选择区</option>";
			var cityCode = $(this).val();
			if(cityCode != 0){
				$.ajax({
					url: '__MODULE__/Addrmanage/showArea',
					type: 'POST',
					dataType: 'json',
					data: {code: cityCode},
					dataFilter: function(data) {
						return data;
					},
					success: function(data) {
						obj = eval(data);
						for(var i = 0;i < obj.length;i++) {
							str += "<option value='"+obj[i].code+"'>"+obj[i].name+"</option>";
						}
						$("#area").html(str);
					}
				});
			}else {
				$("#area").empty();
				$("#area").html(str);
			}
		});

		$("a[did]").click(function(){
			var delID = $(this).attr("did");
			swal({
		        title:"您确定要删除该条收货地址吗",
		        text:"删除后将无法恢复，请谨慎操作！",
		        type:"warning",
		        showCancelButton:true,
		        confirmButtonColor:"#DD6B55",
		        confirmButtonText:"是的，我要删除！",
		        cancelButtonText:"让我再考虑一下…",
		        closeOnConfirm:false,
		        closeOnCancel:false
		    },function(isConfirm){
		        if(isConfirm){
		        	var had = 0;
		        	var residue = 0;
		            $.ajax({
		                url: "__MODULE__/Addrmanage/del",
		                type: 'POST',
		                dataType: 'text',
		                data: {id: delID},
		                dataFilter:function(data){
		                    return data;
		                },
		                success:function(data){
		                    switch(data) {
		                        case "1":
		                            swal("删除成功！","您已经永久删除了这条收货地址。","success");
		                            $("tr[hid='"+delID+"']").remove();
	                            	had = Number($("#had").html()) - 1;
	                            	residue = Number($("#residue").html()) + 1;
	                            	$("#had").html(had);
	                            	$("#residue").html(residue);
		                            break;
		                        case "0":
		                            swal("删除失败！","请刷新后重试。","error");
		                            break;
		                    }
		                },
		                error:function(){
		                    swal("网络不给力！","网络不给力 , 请检查网络设置。","error");
		                }
		            });
		        }else{
		            swal("已取消","您取消了删除操作！","error");
		        }
		    });
		});

		$("span[sid]").click(function(){
			var sid = $(this).attr("sid");
			location.href = "__MODULE__/Addrmanage/setDefaAddr?id="+sid;
		});
	</script>
</block>