<extend name="tpl/template" />
<block name="main">
<link type="text/css" href="__PUBLIC__/css/cart.css" rel="stylesheet" />
	<link type="text/css" href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet" />
<!-- <style type="css/text">
		.clears{ clear:both;}
	.for-liucheng{width:70%;margin:30px auto 50px auto; height:50px;padding:20px 0 0 0; position:relative;}
	.liulist{float:left;width:20%; height:7px; background:#ccc;}
	.liutextbox{ position:absolute;width:100%;left:0;top:10px;}
	.liutextbox .liutext{float:left;width:20%; text-align:center;}
	.liutextbox .liutext em{ display:inline-block;width:24px; height:24px;-moz-border-radius: 24px; -webkit-border-radius: 24px;border-radius:24px; background:#ccc; text-align:center; font-size:14px; line-height:24px; font-style:normal; font-weight:bold;color:#fff;}
	.liutextbox .liutext strong{ display:inline-block;height:26px; line-height:26px; font-weight:400;}
	.liulist.for-cur{ background:#77b852;}
	.liutextbox .for-cur em{ background:#77b852;}
	.liutextbox .for-cur strong{color:#77b852;}

</style> -->
<style type='text/css'>
			li.kuang{
					border:1px solid black;
					width:144px;
					height:45px;
					float:left;
					margin:1px;
					text-align:center;	
			}
			li.kuang1{
					border:1px solid black;
					width:144px;
					height:45px;
					float:left;
					margin:1px;
				}
			div.a1{
					border:0px solid black;
					margin:2px;
					width:450px;
					height:50px;
			}
			div.a2{
					border:0px solid black;
					margin:2px;
					width:450px;
					height:160px;
					display:none;
				}
</style>
<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="__MODULE__/Index/index">首页</a></li>
					<li class="active">登录</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="header-bottom">
	<div class="ckeckout-top">
			<div style="width:1150px;margin:100px;" class="cart-items">
			 <h3>支付</h3>
		    <div class="for-liucheng">
      		<div class="liulist for-cur"></div>
		    <div class="liulist for-cur"></div>
		    <div class="liulist for-cur"></div>
		    <div class="liulist"></div>
		    <div class="liulist"></div>
	        <div class="liutextbox">
		        <div class="liutext for-cur"><em>1</em><br /><strong>提交订单</strong></div>
		        <div class="liutext for-cur"><em>2</em><br /><strong>选择支付方式</strong></div>
		        <div class="liutext for-cur"><em>3</em><br /><strong>等待发货</strong></div>
		        <div class="liutext"><em>4</em><br /><strong>已发货</strong></div>
		        <div class="liutext"><em>5</em><br /><strong>订单完成</strong></div>
	        </div>
     	</div>
     	<div class="cart">
     	<div id="shoplist" align="center">
     		<table cellspacing="0" cellpadding="10" width="85%">
     			<tr bgcolor="#F2F2F2" style="height: 35px;">
     				
     				<th style="padding-left: 10px; width: 500px;">商品名称</th>
     				<th style="text-align:center; width: 120px;">价格(元)</th>
     				<th style="text-align:center; width: 160px;">数量</th>
     				<th style="text-align:center;">小计(元)</th>
     				
     			</tr>
     			<!--此处遍历商品 -->
     			<foreach name="info" item="value">
     			<tr class="list" pro="{$value['id']}">
     				
     				<td style="padding-left: 10px;">
     					<!-- <input type="hidden" id="name" name="name" value="{$value['name']}" />
     					<input type="hidden" id="price" value="{$value['price']}*{$value['num']}" />
     					<input type="hidden" id="num" name="num" value="{$value['num']}" />
     					<input type="hidden" id="pid" name="pid" value="{$value['pid']}" /> -->
     					
						<img src="__PUBLIC__/admin/Uploads/Products/{$value['pic']}" width="45px" />
						<span id="title">{$value['name']}</span>
						<br /><span id="attribute"><label>品牌:</lable>{$value['bname']}</span>
     				</td>
     				<td align="center" class="price" proID="{$value['id']}">{$value['price']}</td>
     				<td align="center"> 
     				{$value['num']} 
     				</td>
     				<td id="showTotal" align="center" proID="{$value['id']}" class="tTotal">{$value['num']*$value['price']}</td>
     				
     			</tr>
     			</foreach>
     			<tr style="height: 80px;" bgcolor="#F2F2F2">
     				
     				<td colspan="3"><a href="#"></a></td>
     				<td colspan="2" style="padding-left: 10px; padding-right: 10px;" align="right" valign="middle">
     					
 					</td>
     			</tr>
     		</table>
     		
          <!--  <div class="" >
                <ul class="">
                       <hr>
                        <li><span class="cost">
						<eq name="{a}" value="1">等待发货</eq>
						<eq name="{a}" value="2">已经发货</eq>
						<eq name="{a}" value="3">确认收货</eq>
                        </span></li>
                    <div class=""> </div>
                </ul> 
            </div> -->
			</div> 
		 </div>
	</div>
<script>
	$("#pay").click(function(){
		location.href = "__MODULE__/Order";
	});
	$("#qita").click(function(){
		if($("#a2").css("display")=="none"){
		$("#a2").show();
		}else{
		$("#a2").hide();
			}
		});
</script>

</block>