<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.0.min.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/sjsz.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/sui.css" />
		<script type="text/javascript" src="__PUBLIC__/js/sui.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/jd.css" />
		<link href="__PUBLIC__/admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
		<script src="__PUBLIC__/admin/js/plugins/sweetalert/sweetalert.min.js"></script>
		<title></title>
		<style>
			/*.bottomLine {
				border-bottom: 1px solid #ccc;
				border-top: 1px solid #ccc;
				margin-bottom: 10px;
				/*padding: 10px;*/
			/*padding-top: 10px;
				padding-bottom: 10px;
				word-spacing: 0.05rem;
				text-align: center;
				margin-top: 82px;*/
			/*width:677px ;*/
			/*line-height: ;*/
			/*}*/
			
			.bottomLine {
				border-bottom: 1px solid #ccc;
				border-top: 1px solid #ccc;
				padding-top: 8px;
				/*padding-bottom:10px;*/
			}
			
			.bot {
				margin-bottom: 50px;
				/*text-align: center;*/
				color: #7b6f5b;
			}
			
			.radio-pretty.checked > span:before {
				color: #f88600;
			}
			
			input {
				height: 62px;
			}
			
			.imgbot {
				width: 128px;
				height: 128px;
			}
		</style>
	</head>

	<body>
		<!--<div class="am-g" style="margin-top: 25px;">
		</div>-->
		<div style="background-color: #F8F8F8;padding-top: 40px;">
		<div class="am-g" >
			<div class="logo"> 
				<p style="font-size: 16px;color: #3d3d3d;margin-left: 16px;font-weight: bold;margin-top: -10px;    float: left">修改邮箱地址</p>
			</div>
			<div style="width: 1200px;margin: 0 auto;font-size: 12px;margin-top: -38px;"> 
			<span style="float: right;color: #333333;">您好, {$Think.session.user.username}<span style="margin-left: 20px;margin-right: 20px;">|
			</span><a href="__MODULE__/Login/logout">退出</a><span style="margin-left: 20px;margin-right: 20px;">|
			</span><a href="__MODULE__/Center">个人中心</a></span>
			</div>
		</div>
		</div>
		<div style="background-color: #ffffff;padding-top: 30px;margin-top: 21px;">
			<div class="am-g content" style="margin-top: 45px;">
				<div data-am-widget="tabs" class="am-tabs am-tabs-d2">
					<ul class="am-tabs-nav1" style="margin-top: 20px;display:flex;list-style: none;text-align: center;">
						<li style="max-width: 95px; margin-left: 100px;"></li>
						<li style="max-width: 80px;"><span class="am-badge1 am-round am-badge-warning-active " style="background-color: #F89406;font-size: 18px;">1</span>
							<br />
							<p class="bottitle active">验证身份</p>
						</li>
						<li style="max-width: 273px;">
							<hr style="width: 273px;">
						</li>
						<li style="max-width: 80px;margin-left: 10px;"><span class="am-badge1  am-round" style="font-size: 18px;">2</span>
							<br />
							<p class="bottitle">修改邮箱地址</p>
						</li>
						<li style="max-width: 273px;">
							<hr>
						</li>
						<li style="max-width: 80px;margin-left: 10px;"><span class="am-badge1  am-round" style="background-image: url(__PUBLIC__/images/right.png);background-repeat: no-repeat;background-position: center;background-position-x: 5px;"></span>
							<br />
							<p style="margin-left: -10px">完成</p>
						</li>
					</ul>
					<!--输入账户名-->
					<div class="am-tabs-bd" style="margin-left: 191px;">
						<div data-tab-panel-0 class="am-tab-panel am-active" style="margin-top: 50px;">
							<div class="am-g">
								<img src="__PUBLIC__/images/warning1.png" />
								<span style="font-weight:normal;margin-left: 10px;font-size: 14px;color: #3d3d3d">您正在使用  当前邮箱地址 验证身份,请完成以下操作</span>
							</div>
							
							<div class="am-g" style="margin-top: 20px;margin-left: 140px;">
								<span style="height: 45px; width: 130px; display:block; line-height: 45px;float:left;" >当前登录密码：</span>
								<input type="password" name="userpass" class="am-form-field" type="text" style="width: 285px;height: 45px;margin-left: 15px; float:left" placeholder="请输入当前密码"/>
							</div>
							
							<div class="am-g" style="margin-top: 20px;margin-left: 140px;">
								<span style="height: 45px; width: 130px; display:block; line-height: 45px;float:left;" >当前邮箱地址：</span>
								<input type="text" name="email" class="am-form-field" type="text" style="width: 285px;height: 45px;margin-left: 15px; float:left" placeholder="请输入当前邮箱"/>
							</div>
						</div>
					</div>
					<div data-tab-panel-2 class="am-tab-panel ">
						<div class="am-g" style="margin-top: 50px;">
							<div class="am-u-sm-6 am-u-sm-offset-3 " style="text-align: center;">
								<button id="next" type="button" class="am-btn am-btn-warning" style="width: 265px;height: 50px;font-size: 16px;border: 1px rgba(187, 187, 187, 0.5)B solid; border-radius:5px;margin: 0 auto;">下一步</button> </div>

						</div>
					</div>
				</div>
			</div>
		</div>


		</div>
	</body>
</html>
<script>
	var reg = /^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+\.){1,63}[a-z0-9]+$/;
	$("#next").click(function(){
		if(!$("input[name='userpass']").val()) {
			swal({
                title: "当前密码不能为空",
                text: "Woops ..要输入密码才可以验证呦~",
                type: "error",
                confirmButtonText: "我知道了"
            });
		}else {
			$.ajax({
				url: '__MODULE__/Editemail/checkPwd',
				type: 'POST',
				dataType: 'text',
				data: {userpass: $("input[name='userpass']").val()},
				dataFilter: function(data) {
					return data;
				},
				success: function(data) {
					switch(data) {
						case '1':
							if(!$("input[name='email']").val()) {
								swal({
									title: "当前邮箱地址不能为空",
									text: "Woops ..要输入邮箱地址才可以验证呦~",
									type: "error",
									confirmButtonText: "我知道了"
								});
							}else{
								if(!reg.test($("input[name='email']").val())) {
									swal({
										title: "当前邮箱格式不正确",
										text: "Woops ..要输入正确的邮箱格式才可以验证呦~",
										type: "error",
										confirmButtonText: "我知道了"
									});
								}else{
									$.ajax({
										url: '__MODULE__/Editemail/checkEmail',
										type: 'POST',
										dataType: 'text',
										data: {email: $("input[name='email']").val()},
										dataFilter: function(data) {
											return data;
										},
										success: function(data) {
											switch(data) {
												case '1':
													swal({
														title: "验证通过",
														text: "您当前密码和邮箱输入正确",
														type: "success",
														confirmButtonText: "前往下一步"
													},function(){
														location.href = "__MODULE__/Editemail/stepTwo?extent=allow";
													});
													break;
												case '0':
													swal({
														title: "验证失败",
														text: "您的邮箱输入不正确",
														type: "error",
														confirmButtonText: " 我知道了"
													});
													break;
											}
										},
										error: function() {
											swal("验证失败","网络连接失败 , 请检查网络设置","error");
										}
									});
								}
							}
							break;
						case '0':
							swal({
								title: "验证失败",
								text: "您当前的密码输入不正确",
								type: "error",
								confirmButtonText: " 我知道了"
							});
							break;
					}
				},
				error: function(){
					swal("验证失败","网络连接失败 , 请检查网络设置","error");
				}
			});				
		}	
	});
</script>


