<extend name="tpl/template" />
<block name="main">
	<style>
		#title {
			width: 190px !important;
		}
	</style>
	<!--banner-starts-->
	<div class="bnr" id="home">
		<div id="top" class="callbacks_container">
			<ul class="rslides" id="slider4">
			    <li>
					<div class="banner">
					</div>
				</li>
				<li>
					<div class="banner1">
					</div>
				</li>
				<li>
					<div class="banner2">
					</div>
				</li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--banner-ends--> 
	<!--Slider-Starts-Here-->
	<script src="__PUBLIC__/js/responsiveslides.min.js"></script>
	<script>
	    // You can also use "$(window).load(function() {"
	    $(function (){
	      // Slideshow 4
	      	$("#slider4").responsiveSlides({
		        auto: true,
		        pager: true,
		        nav: true,
		        speed: 500,
		        namespace: "callbacks",
		        before: function () {
		          $('.events').append("<li>before event fired.</li>");
		        },
		        after: function () {
		          $('.events').append("<li>after event fired.</li>");
		        }
	      	});
	  	})
	</script>
	<!--End-slider-script-->
	<div class="about"> 
		<div class="container">
			<div class="about-top grid-1">
				<div class="col-md-4 about-left">
					<figure class="effect-bubba">
						<img class="img-responsive" src="__PUBLIC__/images/abt-1.jpg" alt=""/>
						<figcaption>
							<h2>Nulla maximus nunc</h2>
							<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
						</figcaption>			
					</figure>
				</div>
				<div class="col-md-4 about-left">
					<figure class="effect-bubba">
						<img class="img-responsive" src="__PUBLIC__/images/abt-2.jpg" alt=""/>
						<figcaption>
							<h4>Mauris erat augue</h4>
							<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
						</figcaption>			
					</figure>
				</div>
				<div class="col-md-4 about-left">
					<figure class="effect-bubba">
						<img class="img-responsive" src="__PUBLIC__/images/abt-3.jpg" alt=""/>
						<figcaption>
							<h4>Cras elit mauris</h4>
							<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
						</figcaption>			
					</figure>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--about-end-->
	<!--product-starts-->
	<div class="product"> 
		<div class="container">
			<div class="product-top">
				<div class="product-one">
					<foreach name="info" item="value"> 
						<div class="col-md-3 product-left">
							<div class="product-main simpleCart_shelfItem">
								<a href="__MODULE__/Details/index?id={$value['pid']}" class="mask">
									<img class="img-responsive zoom-img" src="__PUBLIC__/admin/Uploads/Products/{$value['picurl']}" id="pic" pro="{$value['pid']}" pic="{$value['picurl']}" width="800px" />
								
									<div class="product-bottom">
										<input type="hidden" id='pid' pro="{$value['pid']}" value="{$value['pid']}">
										<h3 id="title" pro="{$value['pid']}" pro="{$value['pid']}">{$value['title']}</h3>
										<span>品牌: <label id="brand" pro="{$value['pid']}" bid="{$value['brandid']}">{$value['bname']}</label></span>
										<p>库存量 : <span id="stock" pro="{$value['pid']}">{$value['stock']}</span></p>
								</a>
								<!-- 判断是否用户登录 -->
							 	<!-- 用户登录成功  -->
								<eq name="flag" value="allow">
									<h4>
										<a class="addone" pro="{$value['pid']}"><i></i></a> 
										<span pro="{$value['pid']}" price="{$value['price']}" id="price">&yen; {$value['price']}</span>
									</h4>
								</eq>
								<!-- 用户没有登录  -->
								<eq name="flag" value="deny">
									<h4>
										<a class="addone" flag="{$flag}"><i></i></a>
										<span class=" item_price">&yen; {$value['price']}</span>
									</h4>
								</eq>
							</div>
						</div>
					</div>
					</foreach>
					<script>
						// 执行添加购物车
						$("a[pro]").click(function(){
							if(Number($("p[pro="+mark+"]").html()) == 0){
								swal({
				                    title: "抱歉！添加失败",
				                    text: "商品太抢手咯 , 玩命进货中...",
				                    type: "error",
				                    confirmButtonText: "我知道了"
				                });
				                swal("抱歉！添加失败","商品太抢手咯","error");
							}else {
								var mark = $(this).attr("pro");
								$.ajax({
									url: '__MODULE__/Cart/addOne',
									type: 'POST',
									dataType: 'text',
									data: {
										pid: $("input[id='pid'][pro="+mark+"]").val(),
										name: $("h3[id='title'][pro="+mark+"]").html(),
										price: $("span[id='price'][pro="+mark+"]").attr("price"),
										bid: $("label[id='brand'][pro="+mark+"]").attr("bid"),
										pic: $("img[id='pic'][pro="+mark+"]").attr("pic")
									},
									dataFilter: function(data) {
										return data;
									},
									success: function(data) {
										switch(data) {
											case "1":
												swal({
								                    title: "添加成功",
								                    text: "您的商品已经乖乖的在购物车里等您咯",
								                    type: "success",
								                    confirmButtonText: "我知道了"
								                });
								                var num = $(".badge").html();
								                $(".badge").html(Number(num) + 1);
								                break;
							                case '0':
							                	swal({
								                    title: "抱歉！添加失败",
								                    text: "您的商品可能走丢了 , 请稍后重试",
								                    type: "error",
								                    confirmButtonText: "我知道了"
								                });
								                break;
										}
									},
									error: function(){
										swal({
						                    title: "抱歉！添加失败",
						                    text: "网络不给力 , 请检查网络设置",
						                    type: "error",
						                    confirmButtonText: "我知道了"
						                });
									}
								});
							}
								
						});
					</script>
					
					<script>
						// 用户没登陆 提示用户需要登录
						$("a[flag = 'deny']").click(function(){
							swal({
			                    title: "亲 , 请先登录",
			                    text: "登录之后才可以添加商品哦",
			                    type: "info",
			                    confirmButtonText: "去登录"
			                },function(){
			                	// 点击去登录跳转至登录页面
			                    location.href = "__MODULE__/Login";
			                });
						});
					</script>
					<div class="clearfix"></div>
				</div>
				<div class="product-one">
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="__MODULE__/Details" class="mask"><img class="img-responsive zoom-img" src="__PUBLIC__/images/p-5.png" alt="" /></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
							</div>
							<div class="srch">
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="__PUBLIC__/images/p-6.png" alt="" /></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
							</div>
							<div class="srch">
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="__PUBLIC__/images/p-7.png" alt="" /></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="__PUBLIC__/images/p-8.png" alt="" /></a>
							<div class="product-bottom">
								<h3>Smart Watches</h3>
								<p>Explore Now</p>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
							</div>
							<div class="srch">
								<span>-50%</span>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>					
			</div>
		</div>
	</div>
</block>
<!--product-end-->
