<extend name="tpl/template" />
<block name="main">
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="index.html">首页</a></li>
                    <li class="active">商品详情</li>
                </ol>
            </div>
        </div>
    </div>
    <style>
        a.add-collect {
            background: #000 none repeat scroll 0 0;
            color: #FFF;
            display: inline-block;
            font-size: 1.15em;
            margin-top: 2em;
            padding: 0.4em 0.8em;
            text-decoration: none;
            margin-left: 5px;
        }

        a.add-collect:hover {
            background: #73b6e1 none repeat scroll 0 0;
            transition: all 0.5s ease 0s;
            text-decoration: none;
            color: #FFF;
        	cursor: pointer;
        }

    </style>
    <script>
        $(function() {
            var menu_ul = $('.menu_drop > li > ul'),
                menu_a  = $('.menu_drop > li > a');
            
            menu_ul.hide();
        
            menu_a.click(function(e) {
                e.preventDefault();
                if(!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true,true).slideDown('normal');
                } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true,true).slideUp('normal');
                }
            });
        
        });
     function fun(){
    	/* alert($('#bid').val()) */
        $.ajax({
        url:"__MODULE__/Cart/addDuo",
        type:"POST",
        dataType:'text',
        data:
        {
        	num:$('#num').val(),
	        price:$('#price').val(),
	        name:$('#name').val(),
	        pic:$('#pic').val(), 
	      	pid:$('#pid').val(), 
        	bid:$('#bid').val()
          },
            dataFilter:function(data){
            return data;
          },
              success:function(data)
            {
             switch(data)
                 {
                    case "1":
                    swal('添加成功!')
                    break;
                    case "0":
                    swal('添加失败！')
                    break;
                 }
            },
             error:function(data)
            {
                 swal('失败','index')
            }
              });
           }
        
    </script>
    <!--end-breadcrumbs-->
    <!--start-single-->
    <div class="single contact">
        <div class="container">
            <div class="single-main">
                <div class="col-md-9 single-main-left">
                   <div class="sngl-top">
                    <div class="col-md-5 single-top-left">  
                        <div class="flexslider">
                            <ul class="slides">
                            <!-- 商品图片 -->
                                <li data-thumb="__PUBLIC__/admin/Uploads/Products/{$pic1}">
                                    <div class="thumb-image"> <img src="__PUBLIC__/admin/Uploads/Products/{$pic1}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
                                </li>
                                <li data-thumb="__PUBLIC__/admin/Uploads/Products/{$picurl}">
                                     <div class="thumb-image"> <img src="__PUBLIC__/admin/Uploads/Products/{$picurl}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
                                </li>
                                <li data-thumb="__PUBLIC__/admin/Uploads/Products/{$pic2}">
                                   <div class="thumb-image"> <img src="__PUBLIC__/admin/Uploads/Products/{$pic2}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
                                </li> 
                              </ul>
                        </div>
                            
                        <!-- <input type="hidden" id="uid" value="$_SESSION['uid']"> -->
                        <input type="hidden" id="pid" value="{$pid}" >
                        <input type="hidden" id='name' value="{$title}">
                        <input type="hidden" id="id" value="{$id}">
                        <input type="hidden" id="name" value="{$title}">
                        <!-- <input type="hidden" id="uid" value="{$value['uid']}"> -->
                        <input type="hidden" id="pic" value="{$picurl}">
                        <input type="hidden" id="price" value="{$price}">
                        <input type="hidden" id="bid" value="{$brandid}">
                            
                        <!-- FlexSlider -->
                        <script src="__PUBLIC__/js/imagezoom.js"></script>
                        <script defer src="__PUBLIC__/js/jquery.flexslider.js"></script>
                        <link rel="stylesheet" href="__PUBLIC__/css/flexslider.css" type="text/css" media="screen" />

                        <script>
                        // Can also be used with $(document).ready()
                        $(window).load(function() {
                          $('.flexslider').flexslider({
                            animation: "slide",
                            controlNav: "thumbnails"
                          });
                        });
                        </script>
                    </div>  
                    <div class="col-md-7 single-top-right">
                        <div class="single-para simpleCart_shelfItem">
                            <h2>{$title}</h2>
                            <div class="star-on">
                                <ul class="star-footer">
                                        <li><a href="#"><i> </i></a></li>
                                        <li><a href="#"><i> </i></a></li>
                                        <li><a href="#"><i> </i></a></li>
                                        <li><a href="#"><i> </i></a></li>
                                        <li><a href="#"><i> </i></a></li>
                                    </ul>
                                <div class="review">
                                    <a href='#'>  
                                        <eq name="hot" value="1">
                                            <td>热卖</td>
                                        </eq>
                                        <eq name="hot" value="0">
                                            <td>普通</td>
                                        </eq></a>
                                        
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            
                            <h5 class="item_price" style="border: none !important;">&yen; {$price}</h5>
                            <div class="available">
                          
                            <ul>
                             <span>品牌名称:  {$bname}</span>
                             </ul>
                             <div class="clearfix"> </div>
                             </div>
                            <ul class="tag-men">
                                <li><span>库存量: {$stock}</span>
                                <li>
                                	<span>购买数量:&nbsp;
                                 		<input type="number" id="num" value='1' min='1' max="{$stock}" style="width:50px ">
                                 	</span>
								</li>
                            </ul>
                            <a id="cart" type='submit' href="#" class="add-cart item_add" onclick="fun()" style="width: 125px;">加入到购物车</a>
                            <a id="collect" class="add-collect">收藏此商品</a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="tabs">
                    <ul class="menu_drop">
                <li class="item1"><a href="#"><img src="__PUBLIC__/images/arrow.png" alt="">商品描述</a>
                    <ul>
                        <li class="subitem1"><a href="#">{$contents}</a></li>
                    </ul>
                </li>
                <li class="item3">
                    <a href="#">
                        <img src="__PUBLIC__/images/arrow.png" alt="">服务承诺
                    </a>
                    <ul>
                        <li class="subitem1"><a href="#">服务承诺：
                            本商城卖家销售并发货的商品，由平台卖家提供发票和相应的售后服务。请您放心购买！
                            <br>
                            注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！ </a></li>
                    </ul>
                </li>
            </ul>
                </div>
                <div class="latestproducts">
                    <div class="product-one">
                    <foreach name='info1' item='value'>
                        <div class="col-md-4 product-left p-left"> 
                            <div class="product-main simpleCart_shelfItem">
                                <a href="__MODULE__/Details/index?id={$value['id']}" class="mask"><img class="img-responsive zoom-img" src="__PUBLIC__/Uploads/{$value['picurl']}" alt="" /></a>
                                <div class="product-bottom">
                                    <h3>{$value['title']}</h3>
                                    <p> 库存量: {$value['stock']}</p>
                                    <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ {$value['price']}</span></h4>
                                </div>
                                <div class="srch">
                                  <!--   <span>-50%</span> -->
                                </div>
                            </div>
                        </div>
                        </foreach>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
               <!--  <div class="col-md-3 single-right">
                    <div class="w_sidebar">
                        <section  class="sky-form">
                            <h4>Catogories</h4>
                            <div class="row1 scroll-pane">
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>All Accessories</label>
                                </div>
                                <div class="col col-4">                             
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Women Watches</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Kids Watches</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Men Watches</label>           
                                </div>
                            </div>
                        </section>
                        <section  class="sky-form">
                            <h4>品牌</h4>
                            
                            <div class="row1 row2 scroll-pane">
                            <foreach name='info2' item='value'>
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>{$value['bname']}</label>
                                </div>
                                </foreach>
                            </div>
                        </section>
                    </div>
                </div> -->
                <div class="col-md-3 single-right" ;>
                    <div class="w_sidebar" style= "height:800px">
                        <section  class="sky-form">
                            <h4>推荐商品</h4>
                                <div style="background-color: #fff;margin-top: 10px;height: 741px;padding: 7px;">
                                    <foreach name='res1' item='va'>
                                    <div style="float:left ;">
                                        <a href="__MODULE__/Details/index?id={$va['pid']}" class="mask">
                                            <img src="__PUBLIC__/admin/Uploads/Products/{$va['picurl']}" style="margin-top: 10px;height: 120px;width: 119px;float: left;"/> 
                                            <br />
                                            <span style="display: block;float: center;margin-left: 10px;color: #f78642;font-size: 16px;">¥ {$va['price']}</span>
                                            <div style="float: center;height: 20px;margin-left: 10px;">库存量{$va['stock']}</div>
                                            <p style="margin-left:10px;width: 100px;font-size: 12px;color: #686868">{$va['title']}</p>
                                        </a>
                                    </div>
                                    </foreach>
                                </div>
                        </section>
                    </div>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--end-single-->
    <script>
        var uid = "<?php echo $_SESSION['user']['uid']?>";
        $("#collect").click(function() {
            if(uid) {
                $.ajax({
                    url: '__MODULE__/Collect/add',
                    type: 'POST',
                    dataType: 'text',
                    data: {pid: $("#pid").val()},
                    dateFilter: function(data) {
                        return data;
                    },
                    success: function(data) {
                        switch(data) {
                            case '1':
                                swal("添加成功","您已经成功的将商品添加到您的收藏","success");
                                break;
                            case '0':
                                swal("添加失败","服务器繁忙请过会儿再试","error");
                                break;
                            case '2':
                                swal("添加失败","您已经添加过此商品","error");
                                break;
                        }
                    },
                    error: function() {
                        swal("添加失败","网络不给力请检查网络设置","error");
                    }
                });
            }else {
                swal({
                    title: "亲 , 请先登录",
                    text: "登录之后才可以添加收藏哦",
                    type: "info",
                    confirmButtonText: "去登录"
                },function(){
                    location.href = "__MODULE__/Login";
                });
            }
                
        });
    </script>
</block>
