<extend name="tpl/template" />
<block name="main">
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
	    <div class="container">
	        <div class="breadcrumbs-main">
	            <ol class="breadcrumb">
	                <li><a href="index.html">首页</a></li>
	                <li class="active">联系我们</li>
	            </ol>
	        </div>
	    </div>
	</div>
	<!--end-breadcrumbs-->
	<!--contact-start-->
	<div class="contact">
	    <div class="container">
	        <div class="contact-top heading">
	            <h2>联系我们</h2>
	        </div>
            <div class="contact-text">
	            <div class="col-md-3 contact-left">
	                    <div class="address">
	                        <h5>联系我们</h5>
	                        <p>公司名称:  
	                            <span>沈阳兄弟连教育咨询有限公司</span>
	                        </p>
	                    </div>
	                    <div class="address">
	                        <h5>公司地址</h5>
	                        <p>辽宁省沈阳市沈北新区蒲昌路19号阳光经典大厦4楼兄弟连<br />
	                        <span>Tel: +86 155 2419 2580</span>
	                        Email: <a href="mailto:admin@hlts.pub">admin@hlts.pub</a></p>
	                    </div>
	                </div>
	                <div class="col-md-9 contact-right">
	                    <form>
	                        <input type="text" placeholder="姓名" name="name">
	                        <input type="text" placeholder="手机号码" name="mobile">
	                        <input type="text"  placeholder="电子邮箱" name="email">
	                        <textarea placeholder="您想对我们说..." required=""></textarea>
	                        <div class="submit-btn">
	                            <input type="submit" value="提  交">
	                        </div>
	                    </form>
	                </div>	
	                <div class="clearfix"></div>
	            </div>
	    </div>
	</div>
	<!--contact-end-->
</block>