<extend name="tpl/template" />
<block name="main">

    <link type="text/css" href="__PUBLIC__/css/cart.css" rel="stylesheet" />
    <style type='text/css'>
			/* li.kuang{
					border:1px solid black;
					width:144px;
					height:45px;
					float:left;
					margin:1px;
					text-align:center;	
			} */
			li.kuang1{
					border:1px solid black;
					width:144px;
					height:45px;
					float:left;
					margin:1px;
				}
			div.a1{
					border:0px solid black;
					margin:2px;
					width:450px;
					height:50px;
			}
			div.a2{
					border:0px solid black;
					margin:2px;
					width:450px;
					height:160px;
					display:none;
				}
			.se{
			border:1px solid #F00 !important;
			}
</style>
<script>
/* 获取数据向数据库中传值 */
    function fun(){
    /* 	alert($("#addre:checked").val()) */
			$.ajax({
			url:"__MODULE__/MyOrder/add",
			type:"POST",
			dataType:"text",
			data:{
				
				zf:$("li[value]").attr("value"),
				addre:$("#addre:checked").val(),
				rname:$("#rname").val(),
				price:$("#showTotal").html(),
				name:$("#name").val(),
				total:$("#total").html(),
				phone:$("#mobile").val(),
				code:$("#postcode").val(),
				pid:$("#pid").val(),
				num:$("#num").val()
				},
			
			dataFilter:function(data){
				return data;
			},
			success:function(data){
				switch(data){
				case 1:
					alert('OK');
					break;
				case 0:
					alert('no');
					break;
				}
			},
				error:function(data){
				
			}
			
		});
    	
	}
    $("#pay").click(function(){
		location.href = "__MODULE__/MyOrder";
	});
    

</script>

    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="__MODULE__/Index/index">首页</a></li>
                    <li class="active">提交订单</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="account-top heading" style="margin-top: 20px; margin-bottom: 30px">
        <h2>提交订单</h2>
    </div>
    <div class="for-liucheng">
        <div class="liulist for-cur"></div>
        <div class="liulist for-cur"></div>
        <div class="liulist"></div>
        <div class="liulist"></div>
        <div class="liulist"></div>
        <div class="liutextbox">
            <div class="liutext for-cur"><em>1</em><br /><strong>提交订单</strong></div>
            <div class="liutext for-cur"><em>2</em><br /><strong>选择支付方式</strong></div>
            <div class="liutext"><em>3</em><br /><strong>等待发货</strong></div>
            <div class="liutext"><em>4</em><br /><strong>已发货</strong></div>
            <div class="liutext"><em>5</em><br /><strong>订单完成</strong></div>
        </div>
    </div>
    <form action="__MODULE__/MyOrder/add" method="POST">
    			
    <div id="recaddress" align="center">
        <h3 style="text-align: left; margin-left: 120px;">收货地址</h3>
      
        <table cellspacing="0" cellpadding="10" width="82%">
         	<foreach name='add' item="value">
         	<!-- <input type="hidden" name='add_id' value={$value['id']} /> -->
            <tr style="margin:2px">
                <td style="width: 10px;">
                <!-- 选取地址，根据按钮选出地址表中的对应ID然后通过form表单传过去 -->
                <!-- <input type="radio" name="recaddr" class="xuanze" value="0"/>{$value['rname']} {$value['province']} {$value['city']} {$value['area']} {$value['addr']} {$value['postcode']} {$value['mobile']} -->
                     <input type="radio" onclick="address(this)" name="recaddr" class="xuanze" value="{$value['id']}" id="addre"/>{$value['rname']} {$value['province']} {$value['city']} {$value['area']} {$value['addr']} {$value['postcode']} {$value['mobile']}
                </td>
                
                
                <!-- <td style="width: 700px;">
                    <label>{$value['rname']} {$value['province']} {$value['city']} {$value['area']} {$value['addr']} {$value['postcode']} {$value['mobile']}</label>
                </td> -->
                		<!-- <input type="hidden" name="rname" id="rname" value="{$value['rname']}" />
     					<input type="hidden" id="addre" value="{$value['province']}{$value['city']}{$value['area']}{$value['addr']}" />
     					<input type="hidden" name="rpostcode" id="postcode" value="{$value['postcode']}" />
                		<input type="hidden" name="mobile" id="mobile" value="{$value['mobile']}" /> -->
            </tr>
            
            </foreach>
            <tr>
            	<td style='width:66px'>
            		<a href="__MODULE__/Addrmanage" target='_blank'>+添加新地址</a>
            	</td>
            </tr>
            </table>
            </div>
           
           
    <div class="cart">
     	<div id="shoplist" align="center">
     		<table cellspacing="0" cellpadding="10" width="85%">
     			<tr bgcolor="#F2F2F2" style="height: 35px;">
     				
     				<th style="padding-left: 10px; width: 500px;">商品名称</th>
     				<th style="text-align:center; width: 120px;">价格(元)</th>
     				<th style="text-align:center; width: 160px;">数量</th>
     				<th style="text-align:center;">小计(元)</th>
     				
     			</tr>
     			<!--此处遍历商品 -->
     			<foreach name="info" item="value">
     			<tr class="list" pro="{$value['id']}">
     				
     				<td style="padding-left: 10px;">
     					<!-- <input type="hidden" id="name" name="name" value="{$value['name']}" />
     					<input type="hidden" id="price" value="{$value['price']}*{$value['num']}" />
     					<input type="hidden" id="num" name="num" value="{$value['num']}" />
     					<input type="hidden" id="pid" name="pid" value="{$value['pid']}" /> -->
     					
						<img src="__PUBLIC__/admin/Uploads/Products/{$value['pic']}" width="45px" />
						<span id="title">{$value['name']}</span>
						<br /><span id="attribute"><label>品牌:</lable>{$value['bname']}</span>
     				</td>
     				<td align="center" class="price" proID="{$value['id']}">{$value['price']}</td>
     				<td align="center"> 
     				{$value['num']} 
     				</td>
     				<td id="showTotal" align="center" proID="{$value['id']}" class="tTotal">{$value['num']*$value['price']}</td>
     				
     			</tr>
     			</foreach>
     			<tr style="height: 80px;" bgcolor="#F2F2F2">
     				
     				<td colspan="3"><a href="#"></a></td>
     				<td colspan="2" style="padding-left: 10px; padding-right: 10px;" align="right" valign="middle">
     					<span id="displayTotal">总计： &yen;<label id="total"></label></span>
 					</td>
     			</tr>
     		</table>
     		<div style="margin-left:-652px">
				<div class="a1">
	            	<ul>
	            		<li class="kuang1" onclick="zf(this)" value="1" bank="网易支付" style="background:url('__PUBLIC__/images/9999.png')"></li>
	            		<li class="kuang1" onclick="zf(this)" value="2" bank="微信支付" style="background:url('__PUBLIC__/images/wx.png')"><span></span></li>
	            		<li class="kuang1" id="qita">其他支付</li>
	            	</ul>
            	</div>
            	<div class="a2" id="a2">
	            	<ul>
	            		<li class="kuang1" onclick="zf(this)" value="3" bank="招商银行" style="background:url('__PUBLIC__/images/0039.png')"><span></span></li>
	            		<li class="kuang1" onclick="zf(this)" value="4" bank="建设银行" style="background:url('__PUBLIC__/images/0059.png')"><span></span></li>
	            		<li class="kuang1" onclick="zf(this)" value="5" bank="中国银行" style="background:url('__PUBLIC__/images/0060.png')"><span></span></li>
	            		<li class="kuang1" onclick="zf(this)" value="6" bank="中国建设银行" style="background:url('__PUBLIC__/images/0061.png')"><span></span></li>
	            		<li class="kuang1" onclick="zf(this)" value="7" bank="中国民生银行" style="background:url('__PUBLIC__/images/0069.png')"><span></span></li>
	            		<li class="kuang1" onclick="zf(this)" value="8" bank="中国工商银行" style="background:url('__PUBLIC__/images/0071.png')"><span></span></li>
	            		<li class="kuang1" onclick="zf(this)" value="9" bank="中信银行" style="background:url('__PUBLIC__/images/0206.png')"><span></span></li>
	            		<li class="kuang1"><span></span></li>
	            		<li class="kuang1"><span></span></li>
	            	</ul>
            	</div>
            	</div>
            	<input type="hidden" id="zf" name="fk" value=""/>
     		<div id="footer">
				<span class="label label-default" id="backbtn">返回首页</span>
				<input type="submit" class="label label-danger" id="pay" value="提交订单">
 			</div>
     	</div>
     		
     	</form>
     	
     	<script>
     	function address(obj){
     		/* alert($(obj).val()); */
     		$('#addre').val($(obj).val());
     		/* alert($('#addre').val()); */
     		
     	}
     	function zf(obj){
     		/* alert($(obj).attr('value')); */
     		$('#zf').val($(obj).attr('value'));
     		/* alert($('#zf').val()); */
 
     	}
     	
     	
		$("#total").html(showTotalPrice()+".00");
		
		function showTotalPrice(){
			var money = 0;
			var totalPrice = document.getElementsByClassName('tTotal');
			for(var i = 0;i < totalPrice.length;i++) {
				money += Number(totalPrice[i].innerHTML);
			}
			return money;
		}
		
		$("#qita").click(function(){
			var m = $(this).attr("value");
			if($("#a2").css("display")=="none"){
			$("#a2").show();
			}else{
			$("#a2").hide();
				}
			});
		 $('li[value]').click(function(){
			var m = $(this).attr("value");
		
			$("li[value]").removeClass('se');
			$("li[value='"+m+"']").addClass('se');
			/* alert($("li[value='"+m+"']").attr('bank'));*/
		}); 
     	</script>
</block>