<extend name="tpl/template" />
<block name="main">
	<style>
		.account-left {
			margin-left: 28%;
		}

		.submit {
			margin-left: 29.5%;
		}
		.error {
			border: 2px solid #F00 !important;
		}
		.success {
			border: 2px solid #7AB61E !important;
		}
		.account-left span {
			line-height: 10px;
		}
		#verify_code {
			width: 361px;
		}
		#code {
			margin-left: 5px;
			margin-bottom: 4px;
			border: 1px solid #000;
			height: 38px;
		}
	</style>
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="index.html">首页</a></li>
					<li class="active">会员注册</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--register-starts-->
	<div class="register">
		<div class="container">
			<div class="register-top heading">
				<h2>会员注册</h2>
			</div>
			<form action="__MODULE__/Register/doregist" method="post">
				<div class="register-main">
					<div class="col-md-6 account-left">
						<input placeholder="用户名" id="user" type="text" name="username" />
						<br /><div id="mess1"></div><br />
						<input placeholder="密码" id="pwd" type="password" name="userpass" />
						<br /><input type="checkbox" name="show1" id="show1"/> <label>显示密码</label>
						<br /><div id="mess2"></div><br />
						<input placeholder="确认密码" id="repwd" type="password" name="repass" />
						<br /><input type="checkbox" name="show2" id="show2"/> <label>显示密码</label>
						<br /><div id="mess3"></div><br />
						<input placeholder="电子邮箱" id="email" type="text" name="email" />
						<br /><div id="mess4"></div><br />
						<input placeholder="验证码" id="verify_code" type="text" name="verify" />
						<img id="code" src="__MODULE__/Register/verify" />
						<br /><div id="mess5"></div><br />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="address submit">
					<input type="submit" id="submit" value="确认提交">
				</div>
			</form>
		</div>
	</div>
	<!--register-end-->
	<script type="text/javascript">
		var reg1 = /^[\w]{6,16}$/;     // 用户名正则
		var reg2 = /^[A-Za-z0-9\.\\w_=\!\@\#\?]{6,16}$/;     // 密码正则
		// 邮箱正则
		var reg3 = /^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+\.){1,63}[a-z0-9]+$/;  

		var flag = null;
		var emailFlag = null;
		var userflag = null;

		$(function(){
			// 显示密码
			var show1 = document.getElementById('show1');
		    show1.onclick = function() {
		        if(show1.checked == true) {
		        	$("#pwd").removeAttr("type");
		            $("#pwd").attr("type","text");
		        }else {
		        	$("#pwd").removeAttr("type");
		            $("#pwd").attr("type","password");
		        }
		    }

		    var show2 = document.getElementById('show2');
		    show2.onclick = function() {
		        if(show2.checked == true) {
		        	$("#repwd").removeAttr("type");
		            $("#repwd").attr("type","text");
		        }else {
		        	$("#repwd").removeAttr("type");
		            $("#repwd").attr("type","password");
		        }
		    }

			// 验证码点击重新获取
			$("#code").click(function() {
				$("#code").attr('src', '__MODULE__/Register/verify?id='+Math.random());
			});

			// 正则验证部分
			

			// 用户名部分
			$("#user").focus(function() {
				$("#user").attr('placeholder', '由6~16位字母、数字、下划线组成 , 不区分大小写');
			});

			$("#user").blur(function() {
				
				$("#user").attr('placeholder', '用户名');

				if($("#user").val() == ""){
					$("#mess1").html("用户名不可以为空");
					$("#user").removeClass('success');
					$("#user").addClass('error');
					$("#mess1").css('color', '#F00');

				}else {

					if(!reg1.test($("#user").val())){
						$("#mess1").html("用户名格式不正确");
						$("#user").removeClass('success');
						$("#user").addClass('error');
						$("#mess1").css('color', '#F00');
					}else {
						$.ajax({
							url: '__MODULE__/Register/check_user',
							type: 'POST',
							dataType: 'text',
							data: {username: $("#user").val()},
							dataFilter:function(data){
								return data;
							},
							success:function(data){
								switch(data) {
									case '1':
										$("#mess1").html("用户名已存在！");
										$("#user").removeClass('success');
										$("#user").addClass('error');
										$("#mess1").css('color', '#F00');
										userflag = false;
										break;
									case '0':
										$("#mess1").html("用户名可用！");
										$("#user").addClass('success');
										$("#mess1").css('color', '#7AB61E');
										userflag = true;
										break;
								}
							},
							error:function(){
								$("#mess1").html("网络开小差~请稍后再试！");
								$("#mess1").css('color', '#F00');
								userflag = false;
							}
						});
					}
				}
			});

			// 密码部分
			$("#pwd").focus(function() {
				$("#pwd").attr('placeholder', '由6-16位字符，可由英文、数字、!@#=?_.符号组成');
			});

			$("#pwd").blur(function() {
				$("#pwd").attr('placeholder', '密码');

				if($("#pwd").val() == ""){
					$("#mess2").html("密码不可以为空！");
					$("#pwd").removeClass('success');
					$("#pwd").addClass('error');
					$("#mess2").css('color', '#F00');
				}else {
					if(!reg2.test($("#pwd").val())){
						$("#pwd").attr('class', 'error');
						$("#mess2").html("密码格式不正确！");
						$("#pwd").removeClass('success');
						$("#mess2").css('color', '#F00');
					}else {
						$("#mess2").html("通过");
						$("#mess2").css('color', '#7AB61E');
						$("#pwd").removeAttr('error');
						$("#pwd").addClass('success');
					}
				}
			});

			// 确认密码
			$("#repwd").focus(function() {
				$("#repwd").attr('placeholder', '由6-16位字符，可由英文、数字、!@#=?_.符号组成');
			});

			$("#repwd").blur(function() {
				$("#pwd").attr('placeholder', '确认密码');

				if($("#repwd").val() == ""){
					$("#mess3").html("确认密码不可以为空！");
					$("#repwd").removeClass('success');
					$("#repwd").addClass('error');
					$("#mess3").css('color', '#F00');
				}else {
					if(!reg2.test($("#repwd").val())){
						$("#repwd").attr('class', 'error');
						$("#mess3").html("确认密码格式不正确！");
						$("#repwd").removeClass('success');
						$("#mess3").css('color', '#F00');
					}else {
						if($("#repwd").val() != $("#pwd").val()){
							$("#mess3").html("两次密码不一致！");
							$("#mess3").css('color', '#F00');
							$("#repwd").addClass('error');
						}else {
							$("#mess3").html("通过");
							$("#mess3").css('color', '#7AB61E');
							$("#repwd").removeAttr('error');
							$("#repwd").addClass('success');
						}
					}
				}
			});

			// 邮箱验证
			$("#email").blur(function(){
				if($("#email").val() == ""){
					$("#mess4").html("电子邮箱不可以为空");
					$("#mess4").css('color', '#F00');
					$("#email").removeClass('success');
					$("#email").addClass('error');
				}else {
					if(!reg3.test($("#email").val())) {
						$("#mess4").html("电子邮箱格式不正确");
						$("#mess4").css('color', '#F00');
						$("#email").removeClass('success');
						$("#email").addClass('error');
					}else {
						$.ajax({
							url: '__MODULE__/Register/check_email',
							type: 'POST',
							dataType: 'text',
							data: {email: $("#email").val()},
							dataFilter:function(data){
								return data;
							},
							success:function(data){
								switch(data) {
									case '1':
										$("#mess4").html("该邮箱已经注册过 , 已有账号 ? <a href='__MODULE__/Login'>登录</a>");
										$("#email").removeClass('success');
										$("#email").addClass('error');
										$("#mess4").css('color', '#F00');
										emailFlag = false;
										break;
									case '0':
										$("#mess4").html("电子邮箱可用");
										$("#email").removeClass('error');
										$("#email").addClass('success');
										$("#mess4").css('color', '#7AB61E');
										emailFlag = true;
										break;
								}
							},
							error:function(){
								$("#mess4").html("网络开小差~请稍后再试！");
								$("#mess4").css('color', '#F00');
								emailFlag = false;
							}
						});
					}
				}
			});

			// 验证码验证
			$("#verify_code").change(function() {

				if($("#verify_code").val() == ""){
					$("#mess5").html("验证码不可以为空");
					$("#verify_code").removeClass('success');
					$("#verify_code").addClass('error');
					$("#mess5").css('color', '#F00');
				}else {
					$.ajax({
						url: '__MODULE__/Register/check_code',
						type: 'POST',
						dataType: 'text',
						data: {verify: $("#verify_code").val()},
						dataFilter:function(data){
							return data;
						},
						success:function(data){
							switch(data) {
								case '1':
									$("#mess5").html("通过");
									$("#verify_code").removeClass('error');
									$("#verify_code").addClass('success');
									$("#mess5").css('color', '#7AB61E');
									flag = true;
									break;
								case '0':
									$("#mess5").html("验证码不正确！");
									$("#verify_code").removeClass('success');
									$("#verify_code").addClass('error');
									$("#mess5").css('color', '#F00');
									flag = false;
									break;
							}
						},
						error:function(){
							$("#mess5").html("网络开小差~请稍后再试！");
							$("#mess5").css('color', '#F00');
						}
					});
				}
			});
			

			

				
			// 提交验证
			$("#submit").click(function() {
				return check_form();
			});

			// 检验表单

		});

		function check_form(){

			if($("#user").val() == ""){
				$("#mess1").html("用户名不可以为空");
				$("#user").removeClass('success');
				$("#user").addClass('error');
				$("#mess1").css('color', '#F00');
				return false;
			}

			if(!reg1.test($("#user").val())){
				$("#mess1").html("用户名格式不正确");
				$("#user").removeClass('success');
				$("#user").addClass('error');
				$("#mess1").css('color', '#F00');
				return false;
			}

			if(!userflag){
				$("#mess1").html("用户名已存在！");
				$("#user").removeClass('success');
				$("#user").addClass('error');
				$("#mess1").css('color', '#F00');
				return false;
			}

			if($("#repwd").val() == ""){
				$("#mess3").html("确认密码不可以为空！");
				$("#repwd").removeClass('success');
				$("#repwd").addClass('error');
				$("#mess3").css('color', '#F00');
				return false;
			}

			if(!reg2.test($("#pwd").val())){
				$("#pwd").attr('class', 'error');
				$("#mess2").html("密码格式不正确！");
				$("#pwd").removeClass('success');
				$("#mess2").css('color', '#F00');
				return false;
			}

			if($("#repwd").val() == ""){
				$("#mess3").html("确认密码不可以为空！");
				$("#repwd").removeClass('success');
				$("#repwd").addClass('error');
				$("#mess3").css('color', '#F00');
				return false;
			}

			if(!reg2.test($("#repwd").val())){
				$("#repwd").attr('class', 'error');
				$("#mess3").html("确认密码格式不正确！");
				$("#repwd").removeClass('success');
				$("#mess3").css('color', '#F00');
				return false;
			}

			if($("#repwd").val() != $("#pwd").val()){
				$("#mess3").html("两次密码不一致！");
				$("#mess3").css('color', '#F00');
				$("#repwd").addClass('error');
				return false;
			}

			if($("#email").val() == ""){
				$("#mess4").html("电子邮箱不可以为空");
				$("#mess4").css('color', '#F00');
				$("#email").removeClass('success');
				$("#email").addClass('error');
				return false;
			}

			if(!reg3.test($("#email").val())) {
				$("#mess4").html("电子邮箱格式不正确");
				$("#mess4").css('color', '#F00');
				$("#email").removeClass('success');
				$("#email").addClass('error');
				return false;
			}

			if(!emailFlag) {
				$("#mess4").html("该邮箱已经注册过 , 已有账号 ? <a href='__MODULE__/Login'>登录</a>");
				$("#email").removeClass('success');
				$("#email").addClass('error');
				$("#mess4").css('color', '#F00');
				return false;
			}

			if($("#verify_code").val() == ""){
				$("#mess4").html("验证码不可以为空");
				$("#verify_code").removeClass('success');
				$("#verify_code").addClass('error');
				$("#mess4").css('color', '#F00');
				return false;
			}

			if(!flag) {
				$("#mess4").html("验证码不正确！");
				$("#verify_code").removeClass('success');
				$("#verify_code").addClass('error');
				$("#mess4").css('color', '#F00');
				return false;
			}
		}
	</script>
</block>