<extend name="tpl/Center" />
<block name="main">

	<div class="cont-main">
		<div class="main-wrap mt15" style="border: 0px;">
				<div class="server-wrapper">
					<div class="server-tab" style="margin-top: 26px;">
						<div style=" float: left;vertical-align: bottom;text-align: center;">
							<div style="width: 680px;padding: 10px;float: left;background-color: #fff;height: 150px;">

								<div style="width:670px ;height: 80px;border: 1px #ccc solid;box-shadow: 1px 1px 1px #F5F5F5;padding: 5px;">
									<div style="width: 100%;height: 100%;border: 1px #F2873B dashed; text-align: left;">
										<span style="font-size:30px;color: #F88600;display: block;    display: block; width: 500px; margin-top: 28;margin-left: 30px;">{$Think.session.user.username} 欢迎回来</span> 
									</div>
								</div>

									<div style="border-top:1px #ccc solid;width: 650px;position: absolute;margin-top: 10px;margin-left: 20px;float: left;"></div>
									<div style="position: absolute;margin-top: 30px;font-size: 14px;color: #686868;float: left;">
										<!-- <span style="margin-left: 20px;">待付款</span>
										<font style="color: #CF2D27;">0</font>
										<span style="margin-left: 40px;margin-right: 40px;">|</span>
										<span >待发货</span>
										<font style="color: #CF2D27;">0</font>
										<span style="margin-left: 40px;margin-right: 40px;">|</span>
										<span>待收货</span>
										<font style="color: #CF2D27;">0</font>
										<span style="margin-left: 40px;margin-right: 40px;">|</span>
										<span>待评价</span>
										<font style="color: #CF2D27;">0</font>
 -->
										
									</div>
							</div>		
								<!--
                                	作者：右侧
                                	时间：2016-05-24
                                	描述：
                                -->
								<div style="float: left;width:250px ;height: 152px;margin-left: 20px;">

									<div style="background-color: #fff;margin-top: 10px;height: 200px;padding: 10px;">
										<p style="font-size: 20px;text-align: left;">收藏的商品</p>
										<!-- <img src="__PUBLIC__/images/collect.png" style="margin-top: 20px;"/>
										<p style="margin-top: 30px;font-size: 14px;color: #686868;"> -->
										<foreach name='res1' item='valu'>
										<div style="float:left ;">
											<a href="__MODULE__/Details/index?id={$valu['pid']}" class="mask">
												<img src="__PUBLIC__/admin/Uploads/Products/{$valu['picurl']}" style="margin-top: 10px;height: 100px;width: 110px;float: left;"/>	
												<br />
												<span style="display: block;float: center;margin-left: 10px;color: #f78642;font-size: 16px;">¥ {$valu['price']}</span>
												<div style="float: center;height: 20px;margin-left: 10px;">库存量{$valu['stock']}</div>
												<p style="margin-left:10px;width: 100px;font-size: 12px;color: #686868">{$valu['title']}</p>
											</a>
										</div>
										</foreach>
									 </div>
								
									<div style="background-color: #fff;margin-top: 10px;height: 280px;padding: 7px;">
										<p style="font-size: 16px;text-align: left;">购物车</p>
										<foreach name='res' item='va'>
										<div style="float:left ;">
											<a href="__MODULE__/Details/index?id={$va['pid']}" class="mask">
												<img src="__PUBLIC__/admin/Uploads/Products/{$va['picurl']}" style="margin-top: 10px;height: 120px;width: 110px;float: left;"/>	
												<br />

												<span style="display: block;float: center;margin-left: 10px;color: #f78642;font-size: 16px;">¥ {$va['price']}</span>

												<div style="float: center;height: 20px;margin-left: 10px;">库存量{$va['stock']}</div>

												<p style="margin-left:10px;width: 100px;font-size: 12px;color: #686868">{$va['title']}</p>
											</a>
										</div>
										</foreach>
									    <a href="__MODULE__/Cart" style="margin-left:10px">查看购物车(<font color="red">{$num}</font>)</a>
									</div>
							
								</div>
								
								<!--右侧 end-->

								
								<div style="width: 680px;padding:10px;display: inline-block; margin-top: 20px;background-color: #fff;float: left;border-bottom: 1px #ccc solid;padding-bottom: 20px;">
									<span style="text-align: left;float: left;margin-left: 10px;margin-top:10px;line-height: 10px;"><font size="3px"><strong>根据浏览 猜你喜欢</strong></font></span>
								</div>
								<div style="width: 680px;padding:10px;display: inline-block; margin-top:0px;background-color: #fff;float: left;">
								<!-- 一个大div里套了三个商品 -->
								<foreach name="info" item="value"> 
									<div style="padding:5px ;text-align: center;float: left;">
											
											<a href="__MODULE__/Details/index?id={$value['pid']}" class="mask">
										<div style="float: left;margin-left: 30px">
											<img src="__PUBLIC__/admin/Uploads/Products/{$value['picurl']}"  width='100px'/>
											<p style="width: 180px;">{$value['title']}</p>
											<span style="display: block;float: left;margin-left: 10px;color: #f78642;font-size: 16px;">￥{$value['price']}</span>
								 	     <!-- <del style="margin-left: 0px;margin-top: 10px;">￥189</del> -->
								 	     <dl style="    float: left; margin-top: 30px; margin-left: -50px;"> 品牌 :{$value['bname']}</dl>
								 	     <dl style="float: right;margin-top: 30px;">库存量：{$value['stock']}</dl>
										</div>
										</a>
									</div>
								</foreach>	
								<!-- 一个大div里套了三个商品 -->
								<foreach name="info1" item="val"> 
									<div style="padding:5px ;text-align: center;float: left;">
										<a href="__MODULE__/Details/index?id={$val['pid']}" class="mask">
										<div style="float: left;margin-left: 30px">
											<img src="__PUBLIC__/admin/Uploads/Products/{$val['picurl']}"  width='100px'/>
											<p style="width: 180px;">{$val['title']}</p>
											<span style="display: block;float: left;margin-left: 10px;color: #f78642;font-size: 16px;">￥{$val['price']}</span>
								 	     <dl style="    float: left; margin-top: 30px; margin-left: -50px;">品牌 :{$val['bname']}</dl>
								 	     <dl style="float: right;margin-top: 30px;">库存量：{$val['stock']}</dl>
										</div>
										</a>
									</div>
								</foreach>	
								</div>
								
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
</block>		
		