<extend name="tpl/Center" />
<block name="main">
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="js/safe/aywmq_qt.js" ></script>
		<script type="text/javascript" src="js/safe/da_opt.js" ></script>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
		<link rel="stylesheet" href="css/safe/css.css" />
		<link rel="stylesheet" href="css/safe/common.min.css" />
		<link rel="stylesheet" href="css/safe/ms-style.min.css" />
		<link rel="stylesheet" href="css/safe/personal_member.min.css" />
		<link rel="stylesheet" href="css/safe/Snaddress.min.css" />
		<script type="text/javascript" src="js/sui.js" ></script>
	</head>
	<body class="ms-body">
		<div id="" class="ng-top-banner"></div>


		<div id="ms-center" class="personal-member">
			<div class="cont">

				<div class="cont-main">
					<div class="main-wrap mt15">
						<h3>
	                        <strong>个人信息</strong>
	                    </h3>
						<div class="user-profile clearfix">
							<div class="user-profile-wrap">
								<div class="profile-avatar">
									<img src="img/头像.png" height="120" width="120">
									<a href="" name="">编辑头像</a>
									<div class="edit_bg"></div>
								</div>
							</div>
							<div class="profile-info">
								
								<div class="control-group clearfix ">
									<div class="controls lh26">
										<label class="control-label"><span style="margin-left: 10px;">真实姓名：</span> 
											<input  style="margin-left: 10px;" type="text" class="text">
									</div>
								</div>
								
								<div class="control-group clearfix ">
									<div class="controls lh26">
										<label class="control-label"><span style="margin-left: 10px;">绑定邮箱：</span> 
										<span>980****10@qq.com</span>
										&nbsp;&nbsp;
										<a>修改</a>
									</div>
									
								</div>
								
								<div class="control-group clearfix ">
									<div class="controls lh26">
										<label class="control-label"><span style="margin-left: 10px;">绑定手机：</span> 
										<span>188***210</span>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<a>修改</a>
									</div>
								</div>								
								
								<div class="control-group clearfix ">
									<div class="controls lh26">
										<label class="control-label"><span style="margin-left: 10px;">性&nbsp;&nbsp;&nbsp;&nbsp;别：</span> 
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="sex" checked="checked">
											<span>男</span>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="sex" >
											<span>女</span>	
									</div>
								</div>

								
								<div class="control-group clearfix ">
									<div class="controls lh26">
										<label class="control-label"><span style="margin-left: 10px;">出生日期：</span> &nbsp;&nbsp;
										<!-- <input  style="margin-left: 10px;" type="text" class="text"> -->
										<select class="form-control" name="parid">{$option}</select>&nbsp;&nbsp;
										<select class="form-control" name="parid">{$option}</select>&nbsp;&nbsp;
										<select class="form-control" name="parid">{$option}</select>
									</div>
								</div>
								
								<div class="control-group clearfix priority-low">
									<label class="control-label">&nbsp;</label>
									<div style="float:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<a href=""  class="ms-stand-btn1" >提 交</a>
									</div>
									<div id="" class="error-place"></div>
									<div class="error-place mt29"></div>
								</div>

								

							</div>
						</div>

					</div>
				</div>
				
				
			</div>
		</div>
		<div class="clear"></div>
		<div class="ng-footer">
			<textarea class="footer-dom" id="footer-dom-02">
			</textarea>
			<div class="ng-fix-bar"></div>
		</div>
		<style type="text/css">
			.ng-footer {
				height: 130px;
				margin-top: 0;
			}
			
			.ng-s-footer {
				height: 130px;
				background: none;
				text-align: center;
			}
			
			.ng-s-footer p.ng-url-list {
				height: 25px;
				line-height: 25px;
			}
			
			.ng-s-footer p.ng-url-list a {
				color: #666666;
			}
			
			.ng-s-footer p.ng-url-list a:hover {
				color: #f60;
			}
			
			.ng-s-footer .ng-authentication {
				float: none;
				margin: 0 auto;
				height: 25px;
				width: 990px;
				margin-top: 5px;
			}
			
			.ng-s-footer p.ng-copyright {
				float: none;
				width: 100%;
			}
			
			.root1200 .ng-s-footer p.ng-copyright {
				width: 100%;
			}
		</style>
		<script type="text/javascript" src="js/safe/ms_common.min.js" ></script>
	</body>

</block>