<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Luxury Watches - 商品修改</title>
    <link rel="shortcut icon" href="__PUBLIC__/admin/favicon.ico"> 
    <link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Luxury Watches - 商品修改</h5>
                        <div class="ibox-tools">
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form  action='__MODULE__/Goodsedit/update' method="post" class="form-horizontal">
                        
                        <input type="hidden" name="id" value="{$info['id']}">
                       
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商品编号</label>

                                <div class="col-sm-10">
                                <input type="text" class="form-control" name="pid" value="{$info['pid']}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">商品名称</label>

                                <div class="col-sm-10"> 
                                    <input type="text" class="form-control" name='title' value="{$info['title']}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商品品牌</label>

                                <div class="col-sm-10">
                                    <select class="form-control" name='brandid' value="{$info['brandid']}">
                                        <option selected="selected" id="dis" ></option>
                                         {$brandOption}
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">商品类别</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name='typeid' value="{$info['typeid']}">
                                        <option selected="selected" id="defa" ></option>
                                        {$option}
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">库存量</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name='stock' value="{$info['stock']}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">访问量</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name='hits' value="{$info['hits']}">
                                </div>
                            </div>
                        <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                <label class="col-sm-2 control-label">商品描述</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name='contents' value="{$info['contents']}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">售价</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name='price' value="{$info['price']}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">优惠价</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name='preprice' value="{$info['preprice']}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">添加人</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name='inputer' value="{$info['inputer']}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否热卖
                                </label>
                                <div class="col-sm-10">
                                <div class="radio i-checks">
                                    <label>
                                        <input type="radio" value="1"  checked="" <eq name="info['hot']" value="1"> checked </eq> name="hot"><i></i> 是</label>
                                </div>
                                <div class="radio i-checks">
                                    <label>
                                        <input type="radio" value="0" <eq name="info['hot']" value="0"> checked </eq> name="hot"> <i></i> 否</label>
                                </div>
                            </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否降价
                                </label>
                            <div class="col-sm-10">
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="1"  checked="" <eq name="info['depreciate']" value="1"> checked </eq> name="depreciate"> <i></i> 是</label>
                                        </div>
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="0" <eq name="info['depreciate']" value="0"> checked </eq> name="depreciate"> <i></i> 否</label>
                                        </div>
                                    </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否推荐
                                </label>
                            <div class="col-sm-10">
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="1"  checked="" <eq name="info['commend']" value="1"> checked </eq> name="commend"> <i></i> 是</label>
                                        </div>
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="0" <eq name="info['commend']" value="0"> checked </eq> name="commend"> <i></i> 否</label>
                                        </div>
                                    </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否下架
                                </label>

                            <div class="col-sm-10">
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="1"  <eq name="info['offsale']" value="1"> checked </eq> name="offsale"> <i></i> 是</label>
                                        </div>
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="0" <eq name="info['offsale']" value="0"> checked </eq> name="offsale"> <i></i> 否</label>
                                        </div>
                                    </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否优惠
                                </label>
                            <div class="col-sm-10">
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="1"  checked="" <eq name="info['discount']" value="1"> checked </eq> name="discount"> <i></i> 是</label>
                                        </div>
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="0" <eq name="info['discount']" value="0"> checked </eq> name="discount"> <i></i> 否</label>
                                        </div>
                                    </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">商品封面图</label>

                                <div class="col-sm-10">
                                    <input type="file" class="form-control" multiple= name='picurl' value=''>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">商品详情图</label>

                                <div class="col-sm-10">
                                    <input type="file" class="form-control" multiple= name='picurls' value=''>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                    <button class="btn btn-white" type="submit">取消</button>
                                </div>
                            </div>
                        </form>
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script> 
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.5"></script> 
    <script src="__PUBLIC__/admin/js/content.min.js?v=1.0.0"></script>
    <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
    </script>
</body>

</html>