<extend name="tpl/template"/>
<block name="main">
	<!-- CSS 样式 start -->
	<style>
		#box {
			width: 85%;
			margin: 0px auto;
		}
		
		.plist {
			height: 450px;
			margin: 20px;
		}

		#box .plist .top {
			width: 100%;
			height: 35px;
			display: block;
			border-bottom: 1px solid #ddd;
		}

		#box .plist .cname {
			padding-left: 15px;
			width: 70%;
			float: left;
			display: block;
			font-size: 18px;
			font-weight: bold;
			font-family: "Microsoft YaHei";
			line-height: 35px;
		}

		#box .plist .top .more {
			width: 30%;
			width: right;
			text-align: right;
			padding-right: 10px;
			line-height: 45px;
			font-size: 15px;
			font-family: "Microsoft YaHei";

		}
	</style>
	<!-- CSS 样式 end -->

	<!-- ************************ 华丽的分界线 ************************ -->

	<!-- 网站当前地址 -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                   <li><a href="index.html">首页</a></li>
                    <li class="active">{$tname}</li>
                </ol>
            </div>
        </div>
    </div>
    <div id="box">
	    <div class="plist">
			<span class="top">
				<label class="cname">{$dname}</label>
				<label class="more"><a href="">更多 &gt;&gt;</a></label>
			</span>			
			<div class="product-one">
				<div class="col-md-3 product-left">
					<div class="product-main simpleCart_shelfItem">
						<a href="__MODULE__/Details" class="mask"><img class="img-responsive zoom-img" src="__PUBLIC__/images/p-5.png" alt="" /></a>
						<div class="product-bottom">
							<h3>Smart Watches</h3>
							<p>Explore Now</p>
							<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
						</div>
						<div class="srch">
						</div>
					</div>
				</div>
				<div class="col-md-3 product-left">
					<div class="product-main simpleCart_shelfItem">
						<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="__PUBLIC__/images/p-6.png" alt="" /></a>
						<div class="product-bottom">
							<h3>Smart Watches</h3>
							<p>Explore Now</p>
							<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
						</div>
						<div class="srch">
						</div>
					</div>
				</div>
				<div class="col-md-3 product-left">
					<div class="product-main simpleCart_shelfItem">
						<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="__PUBLIC__/images/p-7.png" alt="" /></a>
						<div class="product-bottom">
							<h3>Smart Watches</h3>
							<p>Explore Now</p>
							<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
						</div>
						<div class="srch">
							<span>-50%</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 product-left">
					<div class="product-main simpleCart_shelfItem">
						<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="__PUBLIC__/images/p-8.png" alt="" /></a>
						<div class="product-bottom">
							<h3>Smart Watches</h3>
							<p>Explore Now</p>
							<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
						</div>
						<div class="srch">
							<span>-50%</span>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="plist">
			<span class="top">
				<label class="cname">{$dname}</label>
				<label class="more"><a href="">更多 &gt;&gt;</a></label>
			</span>			
			<div class="product-one">
				<div class="col-md-3 product-left">
					<div class="product-main simpleCart_shelfItem">
						<a href="__MODULE__/Details" class="mask"><img class="img-responsive zoom-img" src="__PUBLIC__/images/p-5.png" alt="" /></a>
						<div class="product-bottom">
							<h3>Smart Watches</h3>
							<p>Explore Now</p>
							<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
						</div>
						<div class="srch">
						</div>
					</div>
				</div>
				<div class="col-md-3 product-left">
					<div class="product-main simpleCart_shelfItem">
						<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="__PUBLIC__/images/p-6.png" alt="" /></a>
						<div class="product-bottom">
							<h3>Smart Watches</h3>
							<p>Explore Now</p>
							<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
						</div>
						<div class="srch">
						</div>
					</div>
				</div>
				<div class="col-md-3 product-left">
					<div class="product-main simpleCart_shelfItem">
						<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="__PUBLIC__/images/p-7.png" alt="" /></a>
						<div class="product-bottom">
							<h3>Smart Watches</h3>
							<p>Explore Now</p>
							<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
						</div>
						<div class="srch">
							<span>-50%</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 product-left">
					<div class="product-main simpleCart_shelfItem">
						<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="__PUBLIC__/images/p-8.png" alt="" /></a>
						<div class="product-bottom">
							<h3>Smart Watches</h3>
							<p>Explore Now</p>
							<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
						</div>
						<div class="srch">
							<span>-50%</span>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</block>	
