<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Luxury Watches - 用户编辑</title>
        <link rel="shortcut icon" href="__PUBLIC__/admin/favicon.ico">
        <link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
        <link href="__PUBLIC__/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
        <link href="__PUBLIC__/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
        <link href="__PUBLIC__/admin/css/animate.min.css" rel="stylesheet">
        <link href="__PUBLIC__/admin/css/style.min.css?v=4.0.0" rel="stylesheet">
        <link href="__PUBLIC__/admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
        <script src="__PUBLIC__/admin/js/plugins/sweetalert/sweetalert.min.js"></script>
    </head>

    <body class="gray-bg">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>编辑 {$username}&nbsp;&nbsp;&nbsp;<a href="__MODULE__/Useredit">返回</a></h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-horizontal" >
                                <input type="hidden" name="uid" value="{$id}" />
                                <div class="form-group" id="ipgroup">
                                    <label class="col-sm-2 control-label">真实姓名</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="realname" class="form-control" value="{$realname}">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">性别</label>
                                    <eq name="sex" value="1">
                                        <div class="col-sm-10">
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="1" checked name="sex"> <i></i> 男</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="2" name="sex"> <i></i> 女</label>
                                            </div>
                                        </div>
                                    </eq>

                                    <eq name="sex" value="2">
                                        <div class="col-sm-10">
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="1" name="sex"> <i></i> 男</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="2" checked name="sex"> <i></i> 女</label>
                                            </div>
                                        </div>
                                    </eq>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" id="ipgroup">
                                    <label class="col-sm-2 control-label">手机号码</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="mobile" class="form-control" value="{$mobile}">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" id="ipgroup">
                                    <label class="col-sm-2 control-label">电子邮箱</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="email" class="form-control" value="{$email}">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" id="ipgroup">
                                    <label class="col-sm-2 control-label">出生日期</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="birthday" class="form-control" value="{$birthday|date='Y/m/d', ###}">
                                        <span class="help-block m-b-none" id="ipmess">格式: YYYY/MM/DD , 例: 1970/01/01 <strong>请遵守格式 , 否则无法保存</strong></span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">用户状态</label>
                                    <eq name="stat" value="1">
                                        <div class="col-sm-10">
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="1" checked name="stat"> <i></i> 正常状态</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="2" name="stat"> <i></i> 待激活状态</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="3" name="stat"> <i></i> 冻结状态</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="0" name="stat"> <i></i> 禁用状态</label>
                                            </div>
                                        </div>
                                    </eq>

                                    <eq name="stat" value="2">
                                        <div class="col-sm-10">
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="1" name="stat"> <i></i> 正常状态</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="2" checked name="stat"> <i></i> 待激活状态</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="3" name="stat"> <i></i> 冻结状态</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="0" name="stat"> <i></i> 禁用状态</label>
                                            </div>
                                        </div>
                                    </eq>

                                    <eq name="stat" value="3">
                                        <div class="col-sm-10">
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="1" name="stat"> <i></i> 正常状态</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="2" name="stat"> <i></i> 待激活状态</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="3" checked name="stat"> <i></i> 冻结状态</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="0" name="stat"> <i></i> 禁用状态</label>
                                            </div>
                                        </div>
                                    </eq>

                                    <eq name="stat" value="0">
                                        <div class="col-sm-10">
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="1" name="stat"> <i></i> 正常状态</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="2" name="stat"> <i></i> 待激活状态</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="3" name="stat"> <i></i> 冻结状态</label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="0" checked name="stat"> <i></i> 禁用状态</label>
                                            </div>
                                        </div>
                                    </eq>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-primary" type="submit" id="save">保存内容</button>
                                        <button class="btn btn-white" id="cancel">返回</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
        <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.5"></script>
        <script src="__PUBLIC__/admin/js/content.min.js?v=1.0.0"></script>
        <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
        <script>
            $(document).ready(function(){
                $(".i-checks").iCheck({
                    checkboxClass:"icheckbox_square-green",
                    radioClass:"iradio_square-green"
                });
            });
        </script>
        <script>
            $("#save").click(function(){
                swal({
                    title: "是否要保存用户{$username}的信息 ?",
                    text: "保存设置并返回会员编辑列表",
                    type: "info",
                    confirmButtonText: "保存",
                    cancelButtonText: "取消",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    closeOnCancel:false,
                    showLoaderOnConfirm: true
                },
                function(isConfirm) {
                    if(isConfirm) {
                        $.ajax({
                            url: '__MODULE__/Useredit/doedit',
                            type: 'POST',
                            dataType: 'text',
                            data: {
                                uid: $("input[name = uid]").val(),
                                realname: $("input[name = realname]").val(),
                                mobile: $("input[name = mobile]").val(),
                                email: $("input[name = email]").val(),
                                birthday: $("input[name = birthday]").val(),
                                sex: $("input[name = sex]:checked").val(),
                                stat: $("input[name = stat]:checked").val()
                            },
                            dataFilter: function(data){
                                return data;
                            },
                            success: function(data) {
                                switch(data) {
                                    case "1":
                                        swal({
                                            title: "保存成功",
                                            text: "系统已经保存您修改的内容",
                                            type: "success"
                                        },function(){
                                            location.href = "__MODULE__/Useredit";
                                        });
                                        break;
                                    case "0":
                                        swal("保存失败", "网络连接失败或用户资料无改变", "error");
                                        break;
                                }
                            },
                            error: function() {
                                swal("保存失败", "网络不给力 , 请检查网络设置","error");
                            }
                        });  
                    }else {
                        swal("已取消","您取消了返回操作！","error");
                    }
                });
            });

            $("#cancel").click(function(){
                swal({
                    title: "是否要取消对用户{$username}的编辑 ?",
                    text: "返回到会员编辑列表",
                    type: "warning",
                    showCancelButton:true,
                    confirmButtonColor:"#DD6B55",
                    confirmButtonText:"是的，我要返回！",
                    cancelButtonText:"让我再考虑一下…",
                    closeOnConfirm:false,
                    closeOnCancel:false
                },function(isConfirm){
                    if(isConfirm) {
                        location.href = "__MODULE__/Useredit";
                    }else {
                        swal("已取消","您取消了返回操作！","error");
                    }
                });
            });

        </script>
    </body>
</html>